[submodule "Tweaks/YouPiP"]
	path = Tweaks/YouPiP
	url = https://github.com/PoomSmart/YouPiP.git
	branch = main
[submodule "Tweaks/YouMute"]
	path = Tweaks/YouMute
	url = https://github.com/arichornlover/YouMute.git
	branch = main
