Package: com.iosmod.youtubepremium
Name: YouTube Premium
Version: 1.7.1
Architecture: iphoneos-arm
Description: A lightweight YouTube improvement tweak.
Maintainer: Minh Thái
Author: Minh Thái
Section: Minh Thái
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0), com.iosmod.youtubepremium
Depiction: https://github.com/thaibm92/YouTubePremium
SileoDepiction: https://github.com/thaibm92/YouTubePremium
