Package: com.iosmod.ytx
Name: YouTube Premium
Version: 1.6.6
Architecture: iphoneos-arm
Description: A lightweight YouTube improvement tweak.
Maintainer: IOSMOD.NET
Author: IOSMOD.NET
Section: IOSMOD.NET
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0), com.iosmod.youtubepremium
Depiction: https://iosmod.net
SileoDepiction: https://iosmod.net
